* {
	box-sizing: border-box;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: flex-start;
	/*height: 50%*/
}

.flex-container--vertical {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: flex-start;
	height: 100%
}

.world {
	flex: 0 0 50px;
	align-self: center;
	text-align: center;
	font-size: 126px;
	position: relative;
	border: solid #fed948 5px;
	border-radius: 8px;
}

.box-shadow {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow .7s;
}

.box-shadow:hover {
	box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.6);
}

.world__pin {
	position: absolute; 
	font-size: 21px; 
}

.world__pin--germany {
	left: 49px; 
	top: 11px;
}
