/* TODO make arrow boxes only appear on arrow key */
/* TODO consolidate arrow classes */

body {
	position: relative;
}

* {
	box-sizing: border-box;
}

.flex-container--row-center {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	width: 100%;
}

.flex-container--row-space-between {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	width: 100%;
}

.flex-container--column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: flex-start;
	height: 100%
}

.world {
	flex: 0 0 50px;
	text-align: center;
	font-size: 126px;
	position: relative;
	border: solid #fed948 5px;
	border-radius: 8px; /* todo use same radius as with input panel */
}

.box-shadow {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow .7s;
}

.box-shadow:hover {
	box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.6);
}

.world__pin {
	position: absolute; 
	font-size: 21px; 
}

.world__pin--germany {
	left: 49px; 
	top: 11px;
}

.world__center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* top/left only refer to upper left corner of elemet's bounding box.
										 Shorthand of translateX(-50%) and translateY(-50%) */
	z-index: 1;
}

.border--gray {
	border: solid #7f7f7fb3 2px; 
	border-radius: 4px;
}

.input-panel {
	width: 400px;
}

.input-panel > div {
	padding: 10px 20px;
}

.input-panel__header {
	font-family: 'Helvetica', sans-serif;
}

.input-panel__input {
	width: 100%;
}

.hidden {
	display: none;
}

.background--gray {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

#germany-flag-background {
	transition: background 2s;
	/* todo class with background should be toggled to activate transition -- as oposed to hide/unhide the element*/
}

.arrow_box--left {
	position: relative;
	background: #d5d5d1;
}
.arrow_box--left:after, .arrow_box--left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box--left:after {
	border-color: rgba(213, 213, 209, 0);
	border-right-color: #d5d5d1;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box--left:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 31px;
	margin-top: -31px;
}

.arrow_box--right {
	position: relative;
	background: #d5d5d1;
}
.arrow_box--right:after, .arrow_box--right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box--right:after {
	border-color: rgba(213, 213, 209, 0);
	border-left-color: #d5d5d1;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box--right:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 31px;
	margin-top: -31px;
}